@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0px;
    padding: 0px;
    background-color: #F1F1F1;
}

.header{
    display: flex;
    flex-direction: row;
    padding: 12px 80px;
    align-items: center;

}



.logo{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.jumystap{
    padding: 0px 10px;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.menu{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;

    
   
}

.simpleButton{
   
    border: none;
    width: max-content;
    background-color: #F1F1F1;
    border-radius: 100px;
    padding: 10px 12px;
    border-color: #F1F1F1;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    line-height: 18px; 
    
}
.simpleButton:hover{
   background-color: rgba(8, 30, 52, 0.08); 
   cursor: pointer; 
}
.simpleButton:focus{
    background-color: rgba(8, 30, 52, 0.12);
    cursor: pointer;
}
.simpleButton:active{
    background-color: rgba(8, 30, 52, 0.12);
    cursor: pointer;
}


.getStartButton{
    border: none;
   width: max-content;
    background-color: rgba(8, 30, 52, 0.12);
    border-radius: 100px;
    padding: 10px 12px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;  
   
}
.getStartButton:hover{
    background-color:rgba(8, 30, 52, 0.08);  
    cursor: pointer;
}

.getStartButton:focus{
  background-color:rgba(8, 30, 52, 0.12);  
    cursor: pointer;
}
.getStartButton:active{
  background-color:rgba(8, 30, 52, 0.12);  
    cursor: pointer;
}







.description{
    display: flex;
    flex-direction: row;
    align-items: center;
    

}


.getHired{
display: flex;
flex-direction: column;
 align-items: flex-start;
padding: 100px 80px;
gap: 48px;

}

.t1{
    
width: fit-content;
font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 64px;
    margin: 0px;
   
}

.t2{
    
width: fit-content;
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
margin: 0px;
}

.howItWorksButton{
    border: none;
    background-color: #712FFF;
    text-align: center;
    color:#FFFFFF;
    width: 144px;
    height: 50px;   
    border-radius: 100px;   
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px; 
}
.howItWorksButton:hover{
    background-color: #712FFF;
    opacity: 0.8;
    cursor: pointer;
}
.howItWorksButton:focus{
    background-color:#712FFF;
    opacity: 0.5;
    cursor: pointer;
}
.howItWorksButton:active{
    background-color:#712FFF;
    opacity: 0.3;
    cursor: pointer;
}




.image1{
    width: max-content;
    
    padding-right: 80px;

}



.howItWorks{
display: flex;
flex-direction: column;
background-color: #E1DEE7;
border-radius: 32px;
padding: 100px 80px;
gap: 86px;
}

.mainText{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0px;
    
}

.descriptionText{
    
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
margin: 0px;
}

.titleText{
    
    font-family: 'Kanit';
font-style: normal;
font-weight: 700;
font-size: 54px;
line-height: 56px;
margin: 12px;

}

.stepText{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}


.text1, .text2, .text3{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
}

.ltext1, .ltext2, .ltext3{
        font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px; 
    }


    .inputField{
        display: flex;
        flex-direction: column;
        padding: 100px 80px;
        gap: 32px;

    }

    .inputFieldText1{
        font-family: 'Kanit';
font-style: normal;
font-weight: 700;
font-size: 54px;
line-height: 64px;
margin: 0px;

    }

    .inputFieldText2{
             font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
margin: 0px;




    }

    .textField{     
      display: flex;
      flex-direction: row;
      gap: 32px;
        
    }

    input[type = text]{
        width: 619px;
        height: 50px;
       
        
        background: #FFFFFF;
        border: 1px solid #E1DEE7;
        border-radius: 12px;
    }

    .textFieldWlogo{
        position: relative;
    }

    .textFieldWlogo img{
        position: absolute;
        left: 8px;
        padding: 14px 4px;
    }
    .textFieldWlogo input[type = text]{
        padding-left: 40px;
    }

    .findJob{
        border: none;
        width: 106px;
        height: 50px;
        text-align: center;
        color: #FFFFFF;
        background-color: #712FFF;
        font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
 border-radius: 100px;
    }

    .findJob:hover{
        background-color: #712FFF;
        opacity: 0.8;
        cursor: pointer;
    }
    .findJob:focus{
        background-color:#712FFF;
        opacity: 0.5;
        cursor: pointer;
    }
    .findJob:active{
        background-color:#712FFF;
        opacity: 0.3;
        cursor: pointer;
    }



    .submision{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 64px 80px;
        gap: 48px;
    }

  

    .uploadInfo{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        /* width: 495px;
height: 214px; */
width: fit-content;
padding: 0px 128px;

    }


    .uploadText1{
        margin: 0px;
width: max-content;

font-family: 'Kanit';
font-style: normal;
font-weight: 600;
font-size: 54px;
line-height: 56px;

    }

    .uploadText2{
        margin: 0px;
width: max-content;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;

    }

   input[type="file"]{
    display: none;
   }
   label{
    color: #FFFFFF;
background: #712FFF;
width: 114px;
height: 50px;
position: absolute;
border-radius: 100px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
display: flex;
justify-content: center;
align-items: center;

   }
    
    label:hover{
        background-color: #712FFF;
        opacity: 0.9;
        cursor: pointer;
    }
    label:focus{
        background-color:#712FFF;
        opacity: 0.5;
        cursor: pointer;
    }
    label:active{
        background-color:#712FFF;
        opacity: 0.3;
        cursor: pointer;
    }






    .footer{
        display: flex;
        flex-direction: column;

        padding: 32px 80px;
        gap: 32px;
        background: #FFFFFF;
        border-radius: 32px 32px 0px 0px;
         }



         .footerButton{
            display: flex;
            flex-direction: row;
            align-items: center;
           
          }
          .insta, .twit{
            border: none;
            background-color: #FFFFFF;
          }

 

    .footerLink{
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 16px;
     
       
     
    }

    .footerMenu{
        flex: 0.6;
        display: flex;
        flex-direction: row;
        justify-content: flex-start ;
        align-items: center;
        gap: 16px;

    }




    .linkText{

        color: #081E34;
        opacity: 0.5;
        font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
margin: 0px;
    }


    .nfactorial{
       display: flex;
       justify-content: flex-end;

    }

    .simpleButton1{
   
        border: none;
        width: max-content;
        background-color:#FFFFFF;
        border-radius: 100px;
        padding: 10px 12px;
        border-color:#FFFFFF;
        font-family: 'Inter';
        font-weight: 500;
        font-size: 14px;
        line-height: 18px; 
        
    }
    .simpleButton1:hover{
       background-color: rgba(8, 30, 52, 0.08); 
       cursor: pointer; 
    }
    .simpleButton1:focus{
        background-color: rgba(8, 30, 52, 0.12);
        cursor: pointer;
    }
    .simpleButton1:active{
        background-color: rgba(8, 30, 52, 0.12);
        cursor: pointer;
    }

   
